/node_modules
/public/hot
/storage/*.key
/vendor
/DB/projects
#.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
public/node_modules
app/cloudfront/*
.php-cs-fixer.cache
public/sitemap.xml
public_key.pem
private_key.pem